{% extends "layout.html" %}
{% block title %}notification{% endblock %}
{% block page %}notification{% endblock %}

{{ super() }}

{% block content %}

<div class="header" style="text-align: center; transform:translateX(38%);">
    <div class="new-container" style="align-items: flex-end;">
      <div class="row">
          <div class="col-2">
             <h1 style="white-space: nowrap; padding-top: 20px; align-content: center; font-family: Arial, Helvetica, sans-serif;">All Users</h1>
              </div>
          </div>
      </div>
  </div>
  <hr class="solid">
  <div class='container'>
      <div class="row">
      {% for users in user%}
      <div class="col">
                <a href="/notifs"</a>
              </div>
          </div>
      </div>
  </div>
  <br/>
      {%endfor%}
  </div>
  </div>    
  <hr class="solid">


{% endblock %}